@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

 /*------------- Body and header text---------------- */

.book.font-family-1 {
  font-family: "Open Sans", sans-serif;
}

.book .book-body .page-wrapper .page-inner section.normal h1 {
  font-size: 24px;
}

.book .book-body .page-wrapper .page-inner section.normal h2 {
  font-size: 22px;
}

.book .book-body .page-wrapper .page-inner section.normal h3 {
  font-size: 20px;
}


/*------------ TOC --------------*/

.book .book-summary {
  background: #FCF7FE;
  border-right: double #6D009D;
  border-top: double #6D009D;
  border-left: double #6D009D;
  border-bottom: double #6D009D;
}

.summary{
font-family: "Open Sans", sans-serif;
}

.summary a:hover {
  color: #6D009D !important;
} 

.book .book-summary ul.summary li.active>a { /*active TOC links*/
  color: #6D009D !important;
  border-left: solid 6px;
  border-color: #6D009D;
} 

.author,.title{
    display: none;
}

.copy {
  width: inherit;
  background-color: #e2e2e2 ;
  border: none;
  border-radius: 2px;
  float: right;
  font-size: 60%;
  padding: 4px 4px 4px 4px;
}

/* Style for the <details> element */
.chunk-details {
    background-color: #e6e6fa; /* Light purple background */
    border: 2px solid #d3d3d3; /* Light grey solid border */
    padding: 15px; /* Padding around the content */
    border-radius: 8px; /* Rounded corners for the box */
    margin: 10px 0; /* Margin for top and bottom */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for a 3D effect */
}

/* Style for the <summary> element */
.chunk-summary {
    cursor: pointer; /* Changes cursor to a pointer to indicate it's clickable */
    font-weight: bold; /* Makes the summary text bold */
    color: #333; /* Dark grey color for the text */
}

/* Style for the <span> inside the <summary> */
.chunk-summary-text {
    display: inline-block; /* Ensures the span behaves as an inline block */
    margin-right: 10px; /* Adds some space to the right of the span */
}

/* Additional style when <details> is open */
.chunk-details[open] {
    background-color: #f0e6ff; /* Changes background color when open to a slightly different shade of purple */
}


p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
