@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

 /*------------- Body and header text---------------- */

.book.font-family-1 {
  font-family: "Open Sans", sans-serif;
}

/*------------ TOC --------------*/

.book .book-summary {
  background: #FCF7FE;
  border-right: double #6D009D;
  border-top: double #6D009D;
  border-left: double #6D009D;
  border-bottom: double #6D009D;
}

.summary{
font-family: "Open Sans", sans-serif;
}

.summary a:hover {
  color: #6D009D !important;
} 

.book .book-summary ul.summary li.active>a { /*active TOC links*/
  color: #6D009D !important;
  border-left: solid 6px;
  border-color: #6D009D;
} 

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
